.form-button {
	background-color: black;
}

h1 {
	font-family: "VT323", monospace;
	font-size: calc(1.375rem + 2.3vw) !important;
}

#naglowek {
	background-image: url("../assets/baner_defqon.jpg");
	background-color: cyan;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* color: white; */
}

#naglowek-gry {
	background-image: url("../assets/gry/gow.png");
	background-color: cyan;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* color: white; */
}

.naglowek_suc {
	background-image: url("../assets/oops.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#tytul-naglowka {
	/*Ustawiamy tutaj kolor tła i czcionki panelu nagłówka*/
	background-color: rgba(0, 0, 0, 0.473);
	color: white;
	font-family: "Playwrite ES Deco", cursive;
	font-optical-sizing: auto;
	/* font-weight: <weight>; */
	font-style: normal;
}
.tytul_naglowka_suc {
	/*Ustawiamy tutaj kolor tła i czcionki panelu nagłówka*/
	background-color: rgba(0, 0, 0, 0.473);
	color: white;
	font-family: "Comis Sans MS", cursive;
	font-optical-sizing: auto;
	/* font-weight: <weight>; */
	font-style: normal;
}

.obraz-galerii {
	border: 1px solid black;
	border-radius: 10%;
}

.obraz-galerii:hover {
	/* scale: 1.05; */
	border-color: blueviolet;
	filter: brightness(110%);
	/* transition-duration: 1s; */
	/* animation: obrot_galerii 1s; */
	animation: moje 3s;
	animation-iteration-count: 1;
}

.zdjecie-produktu {
	height: 135px;
	transition: height 0.8s;
}

.zdjecie-produktu:hover {
	height: 500px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

@keyframes moje {
	from {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(360deg) scale(2);
		border: 4px solid cyan;
	}
	to {
		transform: rotate(0deg) scale(1);
	}
}

@keyframes obrot_galerii {
	0% {
		rotate: 0deg;
	}

	25% {
		rotate: 30deg;
	}

	50% {
		rotate: 0deg;
	}

	75% {
		rotate: -30deg;
	}

	100% {
		rotate: 0deg;
	}
}

@media only screen and (max-width: 600px) {
	.obraz-galerii {
		width: 90% !important;
	}
}
