#naglowek {
background-image: url("assets/zeta-min.webp");	background-color: cyan;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#napis-naglowek {
	background-color: rgba(0, 0, 0, 0.473);
	color: white;
	font-family: "Cherry Bomb One", system-ui;
	font-optical-sizing: auto;
	font-style: normal;
}

section {
	padding-top: 9rem;
	padding-bottom: 9rem;
}

header {
	padding-top: 9.5rem;
	padding-bottom: 6rem;
}
