/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
#tekst1{
  color:rgb(248, 37, 0);
}
body {
        background-color: rgb(82, 58, 187) ;
      }