body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;

 
    background-color: rgb(27, 188, 22) ;
  }


#frt {
    font-family:'Comic Sans MS', cursive;
  }

  #tabela2023 {
    font-family:'Comic Sans MS', cursive;
  }

  #tabela2024 {
    font-family:'Comic Sans MS', cursive;
     
  }